<a href="https://colab.research.google.com/github/kalkairis/intro_to_python/blob/main/intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<div dir=rtl> מבוא לתכנות בפייתון</div>

<div dir=rtl>
מטרת התרגול היא להכיר את העקרונות של שפת התכנות תוך שימת דגש על ההבדלים בינה לבין שפות תכנות אחרים. מומלץ להריץ את הקוד בעצמכם, לשנות ולהריץ שוב כדי להבין את השינויים.
</div>

<div dir=rtl>
כדי לשמור עותק משלכם של המחברת:

1. File
2. Save a copy in Drive
3. שמרו עותק והריצו במקביל לפגישה!
</div>

# <div dir=rtl>מאפייני השפה</div>

<div dir=rtl>

*   קוד קומפקטי - פיתוח קצר ומימוש מהיר
*   High level - השפה כוללת מבני נתונים אבסטרקטיים למשל מילונים, רשימות וכו' כטיפוסים פרימיטיביים.
*   Interpreted - הקוד מפוענת בעת ריצה ואינו עובר קמפול. 
*   Dynamic typing - הטיפוס של משתנה אינו ידוע לפני ריצת התוכנית ולאורך התוכנית יכול להשתנות.
*   Strongly typed - ערכים לא ישנו טיפוס ללא דרישה מפורשת.
*   Object oriented - ניתן לעבוד עם מחלקות,  אובייקטים, ירושה וכו'.

</div>

In [ ]:
# זוהי הערה
# בתוך תא קוד
# כדי להריץ תא יש ללחוץ על אנטר + שיפט
# כלום לא יתבצע מכיוון שהתא מכיל הערות בלבד


# <div dir=rtl>שלום עולם</div>
<div dir=rtl>
אחת התוכניות הבסיסיות ביותר שנכתבת תמיד ראשונה הינה "שלום עולם"
</div>

In [ ]:
# Your name
print("Hello world!")

<div dir=rtl>שימו לב, בפייתון אחרי הופעת סולמית (#) יתר השורה הינה הערה ולא תרוץ.</div>

In [ ]:
"Hello world!"

## <div dir=rtl>מה ההבדל?</div>
<div dir=rtl>
פונקציית ההדפסה מדפיסה מחרוזת. במחברות פייתון כאשר בסופו של תא מופיע ערך הוא יוצג בתחתית המחברת.
</div>

## <div dir=rtl>מעבר לטקסט</div>
<div dir=rtl>
כאשר תא רץ, טקסט המציג את השורה האחרונה תוצג מתחת לתא.
</div>

In [ ]:
# Your name here
a = YOUR OWN NUMBER
a

<div dir=rtl>הריצו את התא מעל</div>

In [ ]:
# Iris
a = 543
print(a)

<div dir=rtl>

# מבוא לפייתון
</div>

<div dir=rtl>

## טיפוסים פרימיטיביים בשפה
בפייתון אין הכרזה על המשתנה או על הטיפוס שלו. ניתן לזהות את סוג המשתנה באמצעות הפונקצייה type. 
</div>

In [ ]:
# Integer
x = 5 # notice: not `int x = 8;` as in C!
print(x)
print(type(x))

In [ ]:
print(x)
print(type(x))

x = "aabb"

print(x)
print(type(x))

In [ ]:
# Float
y = 5.0
print(y)
print(type(y))

In [ ]:
print(x == y)
print(type(x) == type(y))

In [ ]:
# Complex
z = complex(1, 3)
print(z)
print(type(z))

In [ ]:
# String
x = "ab"
y = 'ab' # Another way of defining a string
print(type(x))
print(x == y)

In [ ]:
# String concatination
z = x + "zz"
print(z)
z += "xx"
print(z)

<div style="direction:rtl" dir="rtl">
הערה לגבי טיפוסיות: שימו לב שבאתחול הראשוני של המשתנה x שמנו בו ערך מטיפוס מס׳ שלם. לאחר מכן הרשינו לעצמינו לשים באותו המשתנה x ערכים אחרים מטיפוסים אחרים: complex, str. באופן כללי, בפייתון למשתנה אין טיפוס. במהלך חייו של משתנה הוא יכול להכיל ערך מכל טיפוס שהוא, ללא תלות בטיפוסיות של הערך הקודם שהיה באותו המשתנה.
</div>

<div dir="rtl">
    
##מבני נתונים בשפה
בשפה יש 4 מבני נתונים בסיסיים ושימושיים: tuple, list, set, dict. נציג את אופן השימוש בכל אחד מהם. לכל מבנה נתונים יש ייעוד אחר ו- API שונה. לכל מבנה יש פונקציונליות רבה. נציג כאן רק את הדברים הבסיסיים.
</div>

<div dir=rtl>

### Tuple


**n-יה סדורה**

לעיתים נרצה לקבץ מספר ערכים כ-n-יה סדורה (זוג, שלשה, רביעייה,...). דוגמאות?
</div>

In [ ]:
# Tuple
x = (1, 2)
print(x)
print(type(x))
print(x[1])

<div dir=rtl>

בהינתן אובייט מסוג tuple לא ניתן לשנות אותו.
</div>

In [ ]:
x[0] = 3 # Should throw an error

<div dir=rtl>

מה לגבי x עצמו? האם נוכל לשנות אותו?
</div>

In [ ]:
print(x)
x = (3, 2)
print(x)

<div dir=rtl>

### List
**רשימה**
בשונה מ-tuple, רשימה ניתן לשנות.
שינויים כוללים:
*  הוספת איברים
*  החסרת איברים
*  החלפת איברים
</div>

In [ ]:
# List
x = [5, "abc", 7, 7]
print(x)
print(type(x))
print(type(x[1]))

In [ ]:
# Insert obejects into the list
x.append("a")
x.append((3,5))
x.append(['bb', 7])
x.remove(5)
print(x)

In [ ]:
x = [5, "abc"]
x.extend(["b", "c"])
x

In [ ]:
x + ["d", "e"] # unlike extend, creates a new list

In [ ]:
print("abc" in x)
print("abcd" in x)

In [ ]:
del x[1]
x

In [ ]:
x * 2

In [ ]:
a = [1, 1, 2, 3, 5, 9, 10, 11, 12, 13]
print('2 in a?', 'yes' if 2 in a else 'no')
print('23 in a?', 'yes' if 23 in a else 'no')

<div style="direction:rtl" dir="rtl">
הערה לגבי טיפוסיות: אותה רשימה יכולה להכיל אובייקטים מטיפוסים שונים.
</div>

<div dir=rtl>

### Dictionary - מילון
מילון (dictionary) הוא מבנה נתונים הדומה למערך אסוציאטיבי. מדובר בסדרת זוגות key-value, כאשר כל מפתח ממופה לאובייקט יחיד.
</div>

In [ ]:
# Dictionary: key:value pairs
x = {1:'a', 2:88, 'this is a key': 'this is a value'}
print(type(x))
print(x)
print(x[1])
print(x[2])
print(x['this is a key'])

In [ ]:
# dictionary is mutable:

In [ ]:
# change value for a given key
x[1] = 'one'
print(x)

In [ ]:
# delete a key
del x[2]
print(x)

In [ ]:
# add another key-value pair
x['aaa'] = 'bbb'
print(x)

In [ ]:
# check (efficiently) whether a given key exists in the dict
print(1 in x)
print(2 in x)
print('aaa' in x)
print('a' in x)

In [ ]:
x['aaa'] # get the object mapped by the key 'aaa'

In [ ]:
x['a'] # error: 'a' is not in the dict

In [ ]:
print(x.get('aaa'))
print(x.get('a'))

<div dir=rtl>

המפתח של זוג במילון חייב להיות immutable. בפייתון טיפוסים פרימיטיביים (int,str,float) הינם immutable (עוד על כך בסוף מחברת זו). לעומת המפתח, הערך יכול להיות mutable. הנה דוגמא למקרה שבו נרצה להשתמש ב- tuple במקום ב- list.
</div>

In [ ]:
{[1,2]: 'a'} # error, because list type is mutable (and hence unhashable)

In [ ]:
{(1,2): 'a'} # it is ok because tuple type is immutable

<div dir=rtl>

### Set - קבוצה

לעיתים לא מעניין אותנו הסדר בין האיברים או כפילויות של איברים. בדומה ל"שק" של איברים, נרצה להשתמש בקבוצה.
</div>

In [ ]:
# Set
x = {1, 'a', 7}
print(x)
print(type(x))

In [ ]:
print(1 in x)
print(2 in x)
print('a' in x)

In [ ]:
x.remove(1)
x.add(2)
print(1 in x)
print(2 in x)

In [ ]:
print({1,2} | {2,3}) # set union
print({1,2} & {2,3}) # set intersection
print({1,2} ^ {2,3}) # set symmetric diff

<div dir=rtl>

### אופרטורים בסיסיים

*  `+` חיבור
*  `-` חיסור
*  `*` כפל
*  `/` חלוקה
*  `**` חזקה

### אופרטורים שאינם בסיסיים

*  `//` חלוקה לשלמים
*  `%` מודולו
</div>

In [ ]:
# Addition
a = 10
print(a + 2)

In [ ]:
# Subtraction
print(a - 2)

In [ ]:
# Multiplication
print(a * 2)

In [ ]:
# Division
print(a/2)

In [ ]:
# Exponentiation
b = 2
print(a ** b)

<div dir=rtl>

מהי חלוקה לשלמים?
</div>

In [ ]:
# Floor division
print(17 // 8)

<div dir=rtl>

מהו מודולו?
</div>

In [ ]:
# Modulo
print(17 % 9)

<div dir=rtl>

####שימוש במחברת בתור מחשבון

ניתן להשתמש במחברת עצמה כמחשבון. בואו נראה כמה זה קל!
</div>

In [ ]:
4.5 // 2, 4.5 % 2

In [ ]:
True and False

In [ ]:
(1+2j) + (3-1j)

<div dir=rtl>

בפייתון ניתן להמיר כל אובייט לערך של אמת או שקר.
רוב הערכים נחשבים לTrue. כמה דוגמאות שהן False:

*  `None`
*  `False`
*  אפס מכל סוג מספרי (`0`, `0.0`, `0j`)
*  כל רצף ריק (`""`, `()`. `[]`, `{}`)
</div>

In [ ]:
2 or 5>1

In [ ]:
5>1 or 2

In [ ]:
5>1 and 2

<div dir=rtl>

### if, elif, else
</div>

In [ ]:
x = input()
x

In [ ]:
x = int(x)
x

In [ ]:
x = 11
if x < 0:
  print("negative")
elif 0 <= x <= 9:
  print("small")
else:
  print("large")

<div dir=rtl>

כמה הערות:
* הפונקציה input משמשת לבקשת קלט מהמשתמש, ומחזירה string
* ניתן להמיר בין טיפוסים בעזרת פונ' בשם הטיפוס, למשל int
* שימו לב שהתו ':' הוא חלק מהסינטקס של הפקודה
* שימו לב שמידת ההזחה קובעת את ה-block של הקוד, ואין שימוש בסוגריים מסולסלות
* בשימוש בinterpreter ניתן להכניס פקודה של כמה שורות כמו if. החלון יתן לכם שורת input משנית המתילה ב"..."
* שימו לב כי יש כאן אפשרות לתנאי משולב על x
<div>

<div dir=rtl>

### While

* התו ":" הוא שוב חלק מהסינטקס בפקודה
* ניתן להשתמש בפקודות continue ו-break כמו ב-C
* שימו לב לשימוש ב-`while-else`
</div>

In [ ]:
x = 1234
sum = 0

while x>0:
    sum += x % 10
    x //= 10
    
print(sum)

<div dir=rtl>מה חושב בתא הקודם?</div>

In [ ]:
# while-else example
x = 3

while x > 0:
    print(x)
    x -= 1
else:
    print("DONE")

In [ ]:
# Another while-else example
x = 3

while True:
    print(x)
    x -= 1
    if x <= 0:
        break
else: # Coupled with the while and not the if due to indentation
    print("You won't see this!")

<div dir=rtl>

### range() iterator

* מייצר סדרות מספרים רצופים.
* עצלן מטבעו - יחשב את הערך הבא ברשימה רק כאשר התוכנית משתמשת בו.
* הפיכת הפלט לlist תחייב חישוב מראש של כל הרשימה
</div>

In [ ]:
range(5)
list(range(5))

In [ ]:
range(5)

In [ ]:
list(range(5,8))

In [ ]:
list(range(8,2,-2))

<div dir=rtl>

### List slicing - חיתוך רשימות

פייתון מאפשרת לנו לגשת לתת רשימה ע"י שימוש בסוגריים מרובעות.
`[start:end:jump]`
</div>

In [ ]:
list2 = list(range(5)) + list(range(5,8))
print(list2)

In [ ]:
list2[3:5]

In [ ]:
list2[2:]

In [ ]:
list2[2:7:2]

In [ ]:
list2[::-1] # Reverse the list!

In [ ]:
x = 'python'
x[::-1]

In [ ]:
list2[2:4] = ['A', 'B', 4.2, True]
# Different types of objects can be in the same list
# Replace part of list with another list of different size

list2

<div dir=rtl>

### for לולאות

המילה `in` צריכה להופיע בכדי לבצע איטרציה. ניתן לבצע על מבני נתונים (רשימה, n-יה, מילון, קבוצה), על גנרטורים/איטרטורים (שרובם לא יכוסו בתרגול זה).
</div>

In [ ]:
for x in range(10):
    print(f"{x} SQ {x**2}")
else:
    print("I'm done!")

<div dir=rtl>

## תרגיל

במתמטיקה סדרת פיבונאצ'י היא הסדרה ששני איבריה הראשונים הם 0, ו-1.
כל איבר לאחר מכן שווה לסכום שני קודמיו.

כתבו לולאה המדפיסה את N האיברים הראשונים בסדרת פיבונאצ'י.
</div>

In [ ]:
N = 10
a = 0
b = 1

for i in range(N):
    pass
    # Add code to print the next item in the series

<div dir=rtl>

## הפקודה הריקה - pass
הפקודה pass לא עושה כלום. נהוג להשתמש בה בבלוק שהתוכן שלו טרם מומש, במיוחד בעת דיבוג או כתיבת הקוד. 
זאת מכיוון שבלוק ריק אינו חוקי בשפה.
</div>

In [ ]:
for in range(10):
  # fix this

<div dir=rtl>

## פתיחת רצף ערכים

לפעמים יש לנו tuple/list ואנחנו יודעים מראש מה הגודל שלו (למשל אם הוא חזר מפונק׳ שידוע שמחזירה תמיד זוג ערכים). במקרה כזה לפעמים נוח לנו ״לפרק״ את ה- tuple/list הזה לערכיו. כך ניתן להכניס כל ערך ב- tuple למשתנה בעל שם משמעותי, במקום לגשת לערך ע״י `my_tuple[1]` (פחות קריא, לא ברור מה אמור להיות במקום השני בטאפל). מקרה נפוץ הוא כשמבצעים איטרציה על איטרטור שמחזיר זוגות.
</div>

In [ ]:
t = ('ido', 24)
name, age = t
print(name)  # much more informative than `t[0]`
print(age)

In [ ]:
# same with lists
a, b = [1,2]
print(a)
print(b)

In [ ]:
d = {1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# the `dict.items()` iterator iterates over pairs.
for key_value_pair in d.items():
    print(key_value_pair)

In [ ]:
# here we expand the pairs into key&value.
for key, value in d.items():
    print(f'key: {key} ; value: {value}')

In [ ]:
pairs = [(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
for pair in pairs:
    print(pair)

In [ ]:
for a, b in pairs:
    print('a: {} ; b: {}'.format(a, b))

<div dir=rtl>

## Functions
</div>

```
def <func-name>(<parameters>):
    ...

    return <ret-val>
```

In [ ]:
def factorial(n):
    result = 1
    i = 2
    while i <= n:
        result = result * i
        i += 1
    return result

In [ ]:
"6!", factorial(6)

<div style="direction:rtl" dir="rtl">
לאחר הגדרת פונקציה, פייתון מייצר אובייקט המייצג אותה, ושם הפונקציה נהיה המזהה שלה (כמו משתנה).
<br>
ניתן לשמור את האובייקט הזה במשתנה אחר, ויש לו מאפיינים ומתודות כמו כל אובייקט.
</div>

In [ ]:
f = factorial
type(f)

In [ ]:
"6!", f(6)

<div dir=rtl>

## List comprehention 

לפעמים אנחנו רוצים ליצור רשימה מערכים שהגיעו מ- sequence כלשהו.
</div>

In [ ]:
[char for char in "my name"]

In [ ]:
# Having a filtering condition
[char for char in "my name" if char not in {'a', 'e', 'i', 'o', 'u'}]

In [ ]:
[i**2 for i in range(10)]

<div dir=rtl>

## Zip

לפעמים נרצה לעבור במקביל על מספר רשימות באותו האורך.
</div>

In [ ]:
heights = [110, 230, 150, 315]
widths = [70, 65, 90, 87]
depths = [50, 45, 76, 65]
for h, w, d in zip(heights, widths, depths):
    print('cubic metre (m^3):', h * w * d)

In [ ]:
keys = range(1,5)
values = [chr(i + ord("a") - 1) for i in keys] # List comprehention
keys, values

*  ord - Given a string representing one Unicode character, ord returns an *  int representing the character
*  chr - the opposite of ord
Notice the possibility of creating a list in one line, this is called list comprehention

In [ ]:
list(zip(keys, values))

In [ ]:
NumToLet = dict(list(zip(keys, values)))
NumToLet

<div dir=rtl>

### תרגיל

עבור הרשימה ['a', 'b', 4, 'c'] השלימו את הקוד כך שבכל שורה תודפס המיקום של איבר ברשימה ותוכנו.

פלט צפוי:
</div>

```
0 a
1 b
2 4
3 c
```

In [ ]:
my_list = ['a', 'b', 4, 'c']
for i, v in #fill here :
  print(i, v)

<div dir=rtl>

## Dictionary comprehentions

בדומה ליצירת רשימות, גם מילונים ניתן לייצר ע"י ביטוי דומה.
</div>

In [ ]:
NumToLet2 = {i+1: chr(ord("a") + i) for i in range(5)}
NumToLet2

<div dir=rtl>

## ספריות קיימות

אחד הייתרונות הגדולים של שפת פייתון היא הקוד הפתוח. ספריות רבות זמינות באינטרנט ומאפשרות שימוש בקודים קיימים לשיפור ביצועים.
</div>

In [ ]:
import numpy as np  # a common library for matrices and mathematical operations
import time

n = 1000000
a = np.random.rand(n)  # a is n-dim vector with random variables
b = np.random.rand(n)

In [ ]:
tic = time.time()
c = sum([a[i] * b[i] for i in range(n)])
toc = time.time()
print(f'c = {c:.2f}')
print(f'For loop: {1000 * (toc-tic):.3f} ms')

In [ ]:
tic = time.time()
c = sum([a[i] * b[i] for i in range(n)])
toc = time.time()
print(f'c = {c:.2f}')
print(f'For loop: {1000 * (toc-tic):.3f} ms')

<div dir=rtl>

## Classes - מחלקות

* כדאי להוריש מחלקות חדשות מobject
* self הוא שם קונוונציה ל"this"
* ניתן להגדיר ערכים דיפולטיים לארגומטים של פונציה בעזרת שימוש ב'='
* משתנים פנימיים במחלקה מוגדרים ברגע שמוצב לתוכם ערך. לפני כן המחלקה אינה מודעת לקיומם, ואין צורך "להכריז" עליהם במקום נוסף.
</dir>

In [ ]:
class Tree(object):
    def __init__(self, data, children = ()):
        self.data = data
        self.children = children
    def prettyprint(self, indent=""):
        print(indent + self.data)
        for child in self.children:
            child.prettyprint(indent + " ")
            
t111 = Tree("111")
t112 = Tree("112")
t11 = Tree("11", (t111, t112))
t12 = Tree("12")
t1 = Tree("1", (t11, t12))
t1.prettyprint()